@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientAccess</title>
</head>
<body>
    <form action = "/Home/CustomFormDocuments" method = "post" name = "AuthenticationForm"> 
     <input type="submit" value="Authenticate" name="save" class="btn btn-primary" />

</form>
</body>
</html>